@mixin box-shadow() {
	box-shadow:
		0 4px 20px hsl(205deg 50% 30% / 15%),
		0 4px 10px hsl(205deg 30% 10% / 7.5%),
		inset 0 -4px 15px 6px hsl(205deg 70% 90% / 20%),
		inset 0 -2px 5px hsl(205deg 70% 90% / 15%),
		inset 0 -1px 1px hsl(206deg 69% 90% / 58.9%),
		inset 0 10px 15px hsl(205deg 30% 10% / 20%),
		inset 0 1px 2px hsl(206deg 69% 90% / 43.8%);
}

.filter_container {
	box-sizing: border-box;
	width: 100%;
	margin-block-end: 10px;
	margin-block-start: 50px;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

.search_name {
	flex-grow: 2;
	color: rgb(75 74 74);
	font-size: 14px;
	font-family: var(--font-main);
	border: 0.5px solid transparent;
	border-radius: 0.5em;
	padding-block: 0.5rem;
	padding-inline: 1rem;

	@include box-shadow;
}

.search_name:focus-visible {
	outline: none;
}

.search-button {
	align-items: center;
	padding-block: 11px;
	padding-inline: 1rem;
	background: linear-gradient(0deg, rgb(94 201 243), rgb(199 234 248));
	border: none;
	cursor: pointer;

	@include box-shadow;
}

.search-button:hover {
	filter: brightness(110%);
}

.search-button:active {
	filter: contrast(145%);
}

@media screen and (width <= 540px) {
	.search_name {
		padding-block: 0.6rem;
	}
}
