.transparent_background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	min-height: 30px;
	margin: auto;
	padding: 10px;
	background-color: var(--grey-border);
	border: 0.5px solid transparent;
	border-radius: 0.5em;
}
