.transparent_background {
	background-color: rgb(26, 109, 192);
	width: 100%;
	min-height: 30px;
	padding-inline-start: 3%;
	padding-inline-end: 3%;
	padding-block-start: 3%;
	padding-block-end: 3%;
	margin-block-end: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-radius: 0.5em;
	border: 0.5px solid transparent;
}
