@mixin box-shadow() {
	box-shadow:
		0 4px 20px hsl(205deg 50% 30% / 15%),
		0 4px 10px hsl(205deg 30% 10% / 7.5%);
}

.film-container {
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-block-start: 50px;
	height: 91dvh;
	overflow: auto;
}

.cover {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	border: 0.5px solid transparent;
	border-radius: 0.5rem;
}

.list_container {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding-inline-start: 0;
	list-style-type: none;
	margin-block-end: 50px;
}

.image_container {
	height: 100%;
	min-height: 170px;
	max-height: fit-content;
	overflow: hidden;
	border: 1px solid transparent;
}

.title {
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
}

.image {
	display: block;
	margin-inline: auto;
	border-radius: 0.5rem;
	width: 100%;
	height: 80%;
}

.imageF {
	width: 100%;
	height: 80%;
	display: block;
	margin-inline: auto;
	border-radius: 0.5rem;
}

.list_element {
	width: 100%;
	margin: 0;
}

.bold {
	font-weight: 600;
}

.button-container {
	display: flex;
	justify-content: space-between;
}

.back-button,
.download-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	margin-block-end: 10px;
	padding-block: 10px;
	color: var(--text-grey);
	font-weight: 400;
	font-size: 18px;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	cursor: pointer;
}

.download-button {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: linear-gradient(0deg, #f0e774, rgb(252 245 206));
}

.icon {
	display: flex;
	width: 20px;
	height: 20px;
	margin-inline-start: 5px;
}

.icon-download {
	background-image: var(--icon-download);
}

.back-button {
	width: 100px;
	flex-direction: row;
	align-items: center;
	border: 0 solid transparent;
	padding: 7px;
	font-size: 12px;
	display: flex;
	align-items: center;
	gap: 5px;
	box-sizing: border-box;
	padding: 6px 10px 5px;
	border: none;
	background: linear-gradient(0deg, rgb(94 201 243), rgb(199 234 248));
	backdrop-filter: blur(8px) url(#switcher) saturate(var(150%));
	-webkit-backdrop-filter: blur(8px) saturate(var(150%));
}

.icon-back {
	display: inline-block;
	background-image: url('../../../assets/images//free-icon-back-3114883.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	width: 12px;
	height: 12px;
	align-self: auto;
}

.icon-back:hover {
	cursor: pointer;
	filter: hue-rotate(190deg) brightness(0.9);
}

.icon-back:active {
	filter: hue-rotate(190deg) contrast(200%);
}

@media screen and (width <= 540px) {
	.back-button {
		display: none;
	}

	.list_container {
		font-size: 12px;
	}

	.download-button {
		font-size: 14px;
		padding-block: 7px;
	}
}
