@mixin box-shadow() {
	box-shadow:
		0 4px 20px hsl(205deg 50% 30% / 0.15),
		0 4px 10px hsl(205deg 30% 10% / 0.075);
}

.film-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cover {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	border: 0.5px solid transparent;
	border-radius: 0.5rem;
	position: relative;
}

.list_container {
	list-style-type: none;
	padding-inline-start: 0px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.image_container {
	height: 100%;
	overflow: hidden;
	border: 1px solid transparent;
	min-height: 170px;
}

.title {
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
}

.image {
	width: 100%;
	height: 80%;
	border-radius: 0.5rem;
}

.list_element {
	width: 100%;
	margin: 0;
}

.bold {
	font-weight: 600;
}

.button-container {
	display: flex;
	justify-content: space-between;

	.icon-back {
		margin-inline-end: auto;
		background-color: transparent;
	}
	.back-button {
		margin: 0;
		padding: 0%;
		background-color: transparent;
	}
}

.back-button,
.download-button {
	width: 30%;
	font-weight: 400;
	font-size: 18px;
	color: var(--text-grey);
	cursor: pointer;
	border: 1px solid transparent;
	margin-block-end: 10px;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block-end: 10px;
	padding-block-start: 10px;
}

.download-button {
	width: 100%;
	display: flex;
	flex-direction: row;
	background: linear-gradient(0deg, var(--acsent-color), rgb(252, 245, 206));
}

.icon {
	width: 20px;
	height: 20px;
	display: flex;
	margin-inline-start: 5px;
}

.icon-download {
	background-image: var(--icon-download);
}

.icon-back {
	position: relative;
	background-image: url('../../../assets/images/left_4536435.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 35px;
	height: 35px;
	display: inline-block;
	border-radius: 0.6rem;
	transform: translate3d(0, 0, 0.01px);
	opacity: 0.999;
	backdrop-filter: blur(9px) brightness(1.1);
	@include box-shadow();
	margin-inline-start: 0;
	margin-block-end: 10px;
	filter: hue-rotate(190deg);
}

.icon-back:hover {
	cursor: pointer;
	filter: hue-rotate(190deg) brightness(0.9);
}

.icon-back:active {
	filter: hue-rotate(190deg) contrast(200%);
}

@media screen and (max-width: 540px) {
	.back-button {
		display: none;
	}
}
