.popup {
	position: absolute;
	right: 60px;
	bottom: 70px;
	z-index: 10;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 250px;
	padding: 5px;
	background-color: var(--white-background);
	border-radius: 0.5rem;
	box-shadow: 0 2px 6px #9292925d;
	filter: drop-shadow(0 8px 6px #9292925d) drop-shadow(0 4px 3px #9292925d);
	gap: 5px;
	animation: flyIn 0.55s linear forwards;
	transform: translateX(0);
	opacity: 1;
}

@keyframes flyIn {
	0% {
		transform: translateX(150%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.is-closing {
	animation: flyOut 0.55s linear forwards;
	pointer-events: none;
}

/* Анимация скрытия */
@keyframes flyOut {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(150%);
		opacity: 0;
	}
}

.popup-icon {
	flex-grow: 1;
	width: 16px;
}

.popup-info {
	display: block;
	flex-grow: 2;
	color: var(--grey-text);
	font-size: 16px;
}

@media screen and (width <= 540px) {
	.popup {
		right: 15px;
	}
}
