.popup {
	z-index: 10;
	position: absolute;
	bottom: 20px;
	right: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 250px;
	background-color: var(--white-background);
	border-radius: 0.5rem;
	filter: drop-shadow(0 10px 8px var(--grey-border))
		drop-shadow(0 4px 3px var(--grey-border));
	box-shadow: 0px 2px 8px var(--grey-border);
	padding: 5px;
	transition: display 0.7s ease-in-out 0.5s;
}

.is-closed {
	display: none;
}

.popup-icon {
	flex-grow: 1;
	width: 16px;
}

.popup-info {
	flex-grow: 2;
	display: block;
	color: var(--grey-text);
	font-size: 16px;
}
