.footer {
	width: 100dvw;
	background: linear-gradient(0deg, rgb(94 201 243), rgb(199 234 248));
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;

	bottom: 0;
	left: 0;
	height: 50px;

	.footerInfo {
		display: block;
		margin: auto;
		color: #6d6d6d;
		font-weight: 700;
	}
}
