@mixin box-shadow() {
	box-shadow:
		0 4px 20px hsl(205deg 50% 30% / 15%),
		0 4px 10px hsl(205deg 30% 10% / 7.5%);
}

.film-list_item {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 125px;
	margin: auto;
	background: hsl(205deg 0% 0% / 10%);
	background-color: var(--white-background);
	border: 0.5px solid transparent;
	border-radius: 0.5rem;
	backdrop-filter: blur(9px) brightness(1.1);
	transform: translate3d(0, 0, 0.01px);
	opacity: 1;
	padding: 0.5rem;
}

.film-list_position {
	display: flex;
	flex-direction: column;
	gap: 0px;
	cursor: pointer;
	height: 100%;
}

.labelContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-block-start: auto;
}

.label {
	position: relative;
	display: block;
	display: -webkit-box;
	flex-grow: 3;
	flex-basis: 100%;
	align-self: stretch;
	width: 100%;
	min-height: 4vh;
	margin: 0 0 20px;
	overflow: hidden;
	font-weight: 400;
	font-size: 16px;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
}

.label::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	content: '';
}

.sids,
.size,
.forum,
.pointers {
	margin-block-start: auto;
	color: var(--grey-text);
	font-size: 14px;
	line-height: 1rem;
}

.sids {
	flex-basis: 10px;
}

.forum {
	display: -webkit-box;
	flex-basis: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
}

.button_container {
	margin-block-start: auto;
}

.download-button {
	display: flex;
	flex-direction: row;
	border: 0 solid transparent;
	padding: 7px;
	font-size: 12px;
	display: flex;
	align-items: center;
	gap: 5px;
	box-sizing: border-box;
	padding: 6px 10px 5px;
	margin: 0 auto;
	border: none;
	background: linear-gradient(0deg, rgb(94 201 243), rgb(199 234 248));
	backdrop-filter: blur(8px) url(#switcher) saturate(var(150%));
	-webkit-backdrop-filter: blur(8px) saturate(var(150%));
}

.icon_download {
	background-image: url('../../../assets/images/free-icon-download-arrow-62055\(2\).png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	width: 12px;
	height: 12px;
	margin-inline-start: 3px;
}

.icon_download:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

.icon_download:active {
	filter: contrast(200%);
}

@media screen and (width <= 540px) {
	.label {
		font-size: 13px;
		line-height: 1.2rem;
	}

	.sids,
	.size,
	.forum,
	.pointers {
		line-height: 0.8rem;
		font-size: 11px;
	}
}
