@mixin box-shadow() {
	box-shadow:
		0 4px 20px hsl(205deg 50% 30% / 0.15),
		0 4px 10px hsl(205deg 30% 10% / 0.075);
}

.film-list_item {
	margin: auto;
	min-width: 97%;
	min-height: 115px;
	display: flex;
	flex-direction: column;
	padding: 0.6rem;
	background-color: var(--white-background);
	border: 0.5px solid transparent;
	border-radius: 0.5rem;
	position: relative;
	transform: translate3d(0, 0, 0.01px);
	opacity: 0.999;
	background: hsl(205deg 0% 0% / 0.1);
	backdrop-filter: blur(9px) brightness(1.1);
	@include box-shadow();
}

.film-list_position {
	display: flex;
	flex-direction: column;
	gap: 0px;
	cursor: pointer;
}

.label {
	display: block;
	font-weight: 400;
	font-size: 16px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	text-overflow: ellipsis;
	flex-grow: 3;
	align-self: stretch;
	width: 100%;
	flex-basis: 100%;
	margin: 0 0 20px 0;
	position: relative;
	min-height: 4vh;
}

.labelContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-block-end: auto;
}

.label:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
}

.sids,
.size,
.forum,
.pointers {
	font-size: 14px;
	line-height: 1rem;
	color: var(--grey-text);
	margin-block-start: auto;
}

.sids {
	flex-basis: 10px;
}

.forum {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	text-overflow: ellipsis;
	flex-basis: 125px;
}

.button_container {
	display: flex;
	flex-direction: row;
	justify-content: end;
	z-index: 3;
}

.download-button {
	display: flex;
	flex-direction: row;
	justify-content: start;
	background-color: transparent;
	border: 0px solid transparent;
	@include box-shadow();
	background-image: url('../../../assets/images/download_4536409.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.icon_download {
	position: relative;
	width: 30px;
	height: 30px;
	display: inline-block;
}

.icon_download:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

.icon_download:active {
	filter: contrast(200%);
}

@media screen and (max-width: 540px) {
	.download-button {
		min-height: initial;
		min-width: initial;
	}
	.film-list_item {
		min-width: 95%;
	}

	.label {
		font-size: 14px;
	}

	.icon_download {
		width: 20px;
		height: 20px;
	}
}
