.sort_container {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	gap: 5px;
	// padding-inline-start: 3%;
	// padding-inline-end: 3%;
}

.sort-button {
	font-size: 18px;
	cursor: pointer;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white-background);
	filter: drop-shadow(0 10px 8px var(--grey-border))
		drop-shadow(0 4px 3px var(--grey-border));
}

.sort_icon {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-image: var(--icon-filter);
}

.dropdown {
	overflow: hidden;
	display: flex;
}

.dropdown-cover {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	align-items: center;
	top: 100px;
	right: 0;
	animation: fly 0.4s linear;
}

.side-button,
.size-button {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: var(--grey-text);
	white-space: nowrap;
	width: 40%;
	filter: drop-shadow(0 10px 8px var(--grey-border))
		drop-shadow(0 4px 3px var(--grey-border));
}

@keyframes fly {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}
