.container {
	flex-direction: row-reverse;
	gap: 5px;
}

.sort-button {
	width: 10%;
	height: 30%;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: aliceblue;
	background-color: rgb(20, 87, 154);
	cursor: pointer;
	border: 1px solid rgb(75, 74, 74);
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	filter: invert(1);
}

.dropdown {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	align-items: center;
	top: 100px;
	right: 0;
	transform: transition(100px);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: linear(0 0%, 1 100%);

	& > .side-button,
	.size-button {
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		color: aliceblue;
		white-space: nowrap;
		width: 40%;
	}
}

.dropdown_open {
	transform: translateX(150%);
}
