.preloader {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	height: 200px;
	margin-block-start: 200px;
	scroll-behavior: unset;
}

.preloader_circle {
	position: relative;
	inset: 0;
	display: block;
	width: 74px;
	height: 74px;
	margin: auto;
	border: 1px solid;
	border-color: #fff #aaa3a3#3f91d4 #2e57dd #86beec;

	border-radius: 50%;
	animation: spin 0.75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
