.no-data {
	display: block;
	margin: auto;
	color: var(--grey-text);
	font-size: 14px;
	text-align: center;
}

.size_m {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	gap: 15px;
	height: 72dvh;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-mask-image: linear-gradient(
		to bottom,
		black 0%,
		black calc(100% - 40px),
		transparent 100%
	);
}

.size_m::-webkit-scrollbar {
	width: 0;
	height: 0;
}

@media screen and (width <= 540px) {
	.size_m {
		height: 65dvh;
		backdrop-filter: blur();
	}
}

.film-result-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.film_result-header {
	display: block;
	width: 50%;
	color: var(--grey-text);
	font-size: 16px;
}

@media screen and (width <= 540px) {
	.film_result-header {
		font-size: 14px;
	}
}
