.no-data {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 14px;
	color: var(--grey-text);
}

.size_m {
	margin: auto;
}

.film-result-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.film_result-header {
	color: var(--grey-text);
	display: block;
	font-size: 16px;
	width: 50%;
}

@media screen and (max-width: 540px) {
	.film_result-header {
		font-size: 14px;
	}
}
