:root {
	--white-background: rgb(255 255 255);
	--grey-border: rgb(230 229 229);
	--grey-text: rgb(142 142 142);
	--icon-download: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpath d='M19.84,11.39H17.12a.5.5,0,0,0,0-.12V4.84A2.54,2.54,0,0,0,14.6,2.31H11.35A2.54,2.54,0,0,0,8.81,4.84v6.43a.5.5,0,0,0,0,.12H6.16a.57.57,0,0,0-.41,1l6.84,7a.57.57,0,0,0,.82,0l6.84-7A.57.57,0,0,0,19.84,11.39Z'/%3E%3Cpath class='cls-1' d='M2.93,18v2.6A2.37,2.37,0,0,0,5.3,23H20.7a2.37,2.37,0,0,0,2.37-2.36V18'/%3E%3C/svg%3E");
	--font-main: 'Comfortaa', sans-serif;
	--font-primary: 'Gryppo', sans-serif;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}

@font-face {
    font-weight: 400; /* Используйте числовое значение */
    font-family: 'Comfortaa';
    font-style: normal;
    font-display: swap;
    src: local('Comfortaa Regular'),
         url('./assets/fonts/Comfortaa-Regular.ttf') format('truetype'); /* Исправленный формат */
}

@font-face {
	font-weight: var(--font-weight-bold);
	font-family: var(--font-main);
	font-style: normal;
	font-display: swap;
	src:
		local('Comfortaa Bold'),
		url('./assets/fonts/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
	font-weight: var(--font-weight-regular);
	font-family: var(--font-primary);
	font-style: normal;
	font-display: swap;
	src:
		local('Gryppo'),
		url('./assets/fonts/Gruppo-Regular.ttf') format('truetype');
}

body {
	box-sizing: border-box;
	max-width: 620px;
	margin: auto;
	overflow-x: hidden;
	font-family: var(--font-main);
	background-color: var(--grey-border);
}

.app {
	max-width: 820px;
	margin: auto;
	overflow-x: hidden;
}

@media screen and (width <= 640px) {
	.app {
		overflow: hidden;
	}
}
