.dropdown {
	display: flex;
	overflow: hidden;
}

.dropdown-cover {
	top: 100px;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
	animation: fly 0.4s linear;
}

.side-button,
.size-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	color: var(--grey-text);
	font-size: 12px;
	white-space: nowrap;
	background-color: transparent;
	border: none;
	filter: drop-shadow(0 10px 8px var(--grey-border))
		drop-shadow(0 4px 3px var(--grey-border));
}

@keyframes fly {
	0% {
		transform: translateX(150%);
	}

	100% {
		transform: translateX(0%);
	}
}

@media screen and (width <= 540px) {
	.dropdown-cover {
		gap: 10px;
	}
	.side-button,
	.size-button {
		font-size: 10px;
	}
}
